<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File upload app</title>
</head>
<body>
	<h1>File upload application</h1>

	<form action="/" enctype="multipart/form-data" method="post">
		<label for="file">Select</label>
		<input type="file" name="file">
		<br>
		<button type="submit">Upload</button>
	</form>
</body>
</html>